<section id="content-homepage" class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
    <article id="post-1478" class="post-1478 page type-page status-publish has-post-thumbnail hentry">
        <div id="col-yellow">
            <div id="ladybug"></div>
            <div id="text-2" class="widget widget_recent_entries">
                <ul>
                    <li>
                        <a href="https://docs.google.com/file/d/0B_GLTI-L7yHtUExiLTFKYnRiR1U/view" target="_blank">Дейност</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/file/d/0B_GLTI-L7yHtYmd2TlgwYVlERjA/view" target="_blank">Годишен план</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/file/d/0B_GLTI-L7yHtS1gyT2hZV3lfUzQ/view" target="_blank">Празници и развлечения</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/file/d/0B_GLTI-L7yHtQjZ1Vmg4cXFCUkE/view" target="_blank">Правилник</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/file/d/0B_GLTI-L7yHteHB3eWo0SzVlamc/view" target="_blank">Стратегия за развитиее</a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <div class="clearfix"></div>
</section><!-- #content-homepage / #content -->